.App {
  max-width: 500px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.frame {
  border: none;
  padding: 20px 30px;
  margin-top: 30px;
  background: rgb(102, 35, 116);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(131, 125, 125, 0.37);
}

.App-link {
  color: #61dafb;
}

.weather-info {
  text-align: left;
  padding-bottom: 25px;
  color: rgba(240, 234, 234, 0.507);
}

form {
  padding: 0px;
}

h1 {
  color: white;
}

.city-result {
  padding-top: 15px;
}

.forecast {
  color: rgba(255, 255, 255, 0.815);
}

a {
  color: purple;
}

p {
  text-align: center;
}

li {
  list-style: none;
}